<html ng-app="chat">
<head>
	<title>ChatGo</title>
	<style>
		body { 
		    padding-top: 52px; 
		    padding-bottom: 37px; 
		}
		#fromDiv {
			padding-right:5px;
			padding-left:0px;
		}
		.navbar-fixed-bottom {
		    height: 37px; /* Whatever you want. */
		}
		#chatWrap{
			padding:0px;
			height:	100%;
			overflow:auto;
		}
	</style>
	<link rel="stylesheet" href="build/css/bootstrap.min.css">

</head>
<body ng-controller="MainCtl" >
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-header">
    	<a class="navbar-brand" href="/">ChatGo</a>
    </div>
    	<ul class="nav navbar-nav">
	      <li class="active"><a href="/">Away</a></li>
	      <li><a href="/">Home</a></li>
    	</ul> 
  </div>
	<div id="chatWrap" glue-scroll ng-model="glued">
		<div style="padding:0px;" ng-repeat="m in messages track by $index">
			<div class="row">
				<div id="fromDiv" align="right"class="col-xs-1">[{{m.from}}]: </div>
				<div style="padding-left:0px" align="left" class="col-xs-11">{{m.body}}</div>
			</div>
		</div>
	</div>
	<div id="bottomBar" class="navbar-inverse navbar-fixed-bottom">
		<div class="row">
			<div class="col-xs-8"style="padding:2px;padding-left:18px;">
				<input class="form-control" type="text" ng-model="msg" ng-enter="send()">
			</div>
			<div class="col-xs-1" style="padding-left:2px;padding-top:2px">
				<button style="width:100%" class="btn btn-primary" ng-click="send()">Send</button>
			</div>
		</div>
	</div>
<script src="build/angular.js"></script>
<script>
	var app = angular.module("chat", []);
	"use strict";
	app.directive('ngEnter', function () {
		return function (scope, element, attrs) {
			element.bind("keydown keypress", function (event) {
				if(event.which === 13) {
					scope.$apply(function (){
						scope.$eval(attrs.ngEnter);
					});

					event.preventDefault();
				}
			});
		};
	});

	app.controller("MainCtl", ["$scope", function($scope) {
		$scope.messages = [];
		$scope.defaultID = "77133889-76fb-41d0-8483-ca902f701417"
		var conn = new WebSocket("ws://192.168.1.103:3000/room");
		console.log(conn)
		$scope.glued = true;

		// called when the server closes the connection
		conn.onclose = function(e) {
			$scope.$apply(function(){
				console.log(e)
				$scope.messages.push({from:"server", body:"disconnected"});
			});
		};

		// called when the connection to the server is made
		conn.onopen = function(e) {
			$scope.$apply(function(){
				console.log(e)
				$scope.messages.push({from:"server", body:"connected"});
			})
		};

		// It should have a hub ID to append he message to.
		// called when a message is received from the server
		conn.onmessage = function(e){
			$scope.$apply(function(){
				var data = JSON.parse(e.data)
				if ( !data.from ) {
					data.from = "anon" // Todo, do better at anon names
				}
				
				$scope.messages.push(data);
			});
		};

		// TODO: hub resource, to diff against different hubs
		// Send to ws and properly input the correct hub ID.
		$scope.send = function() {
			if ($scope.msg) {
				conn.send(JSON.stringify({
	  				hub_id: $scope.defaultID,
	  				body: $scope.msg
				}));
				$scope.msg = "";
			}
		}
	}]);

	//https://rawgit.com/Luegg/angularjs-scroll-glue/master/src/scrollglue.js
	app.directive('glueScroll', function(){

		function fakeNgModel(initValue){
			return {
		  	$setViewValue: function(value){
		    	this.$viewValue = value;
		   	},
		    $viewValue: initValue
			};
		}
		return {
		  priority: 1,
		  require: ['ngModel'],
		  restrict: 'A',
		  link: function(scope, $el, attrs, ctrls){
		  		var el = $el[0], ngModel = ctrls[0] || fakeNgModel(false);
		  	function scrollToBottom(){
		  		el.scrollTop = el.scrollHeight;
		  	}

		  	scope.$watch('messages', function(){
		  		if(ngModel.$viewValue){
						scrollToBottom();
		  		}
		  	}, true); // true means check deep

		  	$el.bind('scroll', function(){
		  		var newVal = (el.scrollTop + el.clientHeight + 1 >= el.scrollHeight)
		  		if (ngModel.$viewValue != newVal){ 
		  			scope.$apply(ngModel.$setViewValue.bind(ngModel, newVal));
		  		}
		  	});
		  }
		};
	});
</script>
</body>
</html>