<html ng-app="chat">
<head>
	<title>ChatGo</title>
	<style>
	#chat {
			height: 300px;
			overflow: scroll;
	}
	</style>
</head>
<body ng-controller="MainCtl">
	<div class="jumbotron">
		<h1>My Chat</h1>
		<a href="/">Home</a>
	</div>
	<div id="chat">
		<div ng-repeat="m in messages track by $index">{{m}}</div>
	</div>
	<input type="text" placeholder="type here" ng-model="msg" ng-enter="send()">
	<button class="btn btn-primary" ng-click="send()">Send</button>

<script src="build/angular.js"></script>
<script>
	var app = angular.module("chat", []);

	app.directive('ngEnter', function () {
		return function (scope, element, attrs) {
			element.bind("keydown keypress", function (event) {
				if(event.which === 13) {
					scope.$apply(function (){
						scope.$eval(attrs.ngEnter);
					});

					event.preventDefault();
				}
			});
		};
	});

	app.controller("MainCtl", ["$scope", function($scope) {
		$scope.messages = [];
		$scope.defaultID = "77133889-76fb-41d0-8483-ca902f701417"
		var conn = new WebSocket("ws://localhost:3000/room");
		// called when the server closes the connection
		conn.onclose = function(e) {
			$scope.$apply(function(){
				$scope.messages.push("[server]: disconnected");
			});
		};

		// called when the connection to the server is made
		conn.onopen = function(e) {
			$scope.$apply(function(){
				console.log("we here")
				$scope.messages.push("[server]: connected");
			})
		};

		// It should have a hub ID to append he message to.
		// called when a message is received from the server
		conn.onmessage = function(e){
			$scope.$apply(function(){
				console.log(e.data)
				var data = JSON.parse(e.data)
				if ( !data.from ) {
					data.from = "anon" // Todo, do better at anon names
				}
				var msg = "[" + data.from + "]: " + data.body
				$scope.messages.push(msg);
			});
		};

		// TODO: hub resource, to diff against different hubs
		// Send to ws and properly input the correct hub ID.
		$scope.send = function() { 
			conn.send(JSON.stringify({
  				hub_id: $scope.defaultID,
  				body: $scope.msg
			}));
			$scope.msg = "";
		}
	}]);
</script>
</body>
</html>